api:
  build: .
  command: node index.js
  user: root
  ports:
    - '4000:4000'
  links:
    - 'dbdev'
    - 'dbtest'
    - 'dbproduction'
  volumes:
    - '$DOCKER_CERT_PATH:/home/.docker'
    - '.:/arkis-api'
  environment:
    - DOCKER_CERT_PATH=/home/.docker
    - DOCKER_HOST
    - DOCKER_TLS_VERIFY
    - JWT_SECRET_KEY
    - GITHUB_CLIENT_ID
    - GITHUB_SECRET_KEY
    - DIGITAL_OCEAN_TOKEN
    - CODECLIMATE_REPO_TOKEN

dbdev:
  image: postgres:9.4.2
  expose:
    - '5432'
  volumes:
    - '/arkis-dbdev:/var/lib/postgresql/data'

dbtest:
  extends:
    file: docker-compose.yml
    service: dbdev
  volumes:
    - '/arkis-dbtest:/var/lib/postgresql/data'

dbproduction:
  extends:
    file: docker-compose.yml
    service: dbdev
  volumes:
    - '/arkis-dbproduction:/var/lib/postgresql/data'
